/* *{
    border: 1px red dotted;
} */

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebb531ff;
 
}

#fixedDiv {
    position: fixed;
    padding: 15px;
    bottom: 0;
    text-align: center;
}


#mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 1500px;
    -moz-perspective: 1500px;
    -webkit-perspective: 1500px;
}

#MainDiv img {
    max-width: 50%;
    height: auto;
    display: block;
}

a{
    text-decoration: underline;
    color: rgb(83, 83, 83);

}